main, footer {
    margin: 10px 10px 10px 230px;
    padding: 20px;
}
.nav-wrapper{
    background: #fff;
    
}
.nav-wrapper .row .col a{
    color: rgb(88, 88, 88);
}
#sidenav-1{
    width: 200px;
    background: #3B45EA;
}
#sidenav-1 li a, #sidenav-1 li{
   color: white;
}
.btn-floating{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 40px;
}


@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}